# App
PORT=3000

# PostgreSQL (Docker)
POSTGRES_USER=alb_locacoes
POSTGRES_PASSWORD=alb_locacoes
POSTGRES_DB=alb_locacoes
POSTGRES_PORT=5433

# Prisma
DATABASE_URL="postgresql://alb_locacoes:alb_locacoes@localhost:5433/alb_locacoes?schema=public"

# Auth
JWT_SECRET=change-me
JWT_EXPIRES_IN=1h
